Body{
	background-color: black;
	color: white;
	font-size: 1em;
}

h1{
	background-color: darkred;
	font-size: 3em;
	border-radius: 3px;
	text-align: center;
}

h2{
	background-color: darkred;
	font-size: 2em;
	border-radius: 3px;
}